#include <iostream>
#include <Windows.h>
using namespace std;
int main() {
    setlocale(LC_ALL, "Russian");       //подключаем вывод и ввод русских символов в консоль
    SetConsoleCP(1251);
    SetConsoleOutputCP(1251);

    char lenght[200];                     //строка для ввода
    char maxwordvowels[100];             //слово с максимальным количеством гласных      
    int letters = 0;                    //количество букв в слове
    int vowels = 0;                     //количество гласных букв (а, е, и)
    int maxvowels = 0;                 //максимальное количество букв (а, е, и) встретившееся в слове

    cin.getline(lenght, 199);        //считываем строку с консоли либо максимальным количеством 199 символов, или до нажатия Enter
    lenght[strlen(lenght)] = '\n';          //вставляем символ новой строки, чтобы корректно обработать последнее слово
                                        //getline - не заносит в массив '\n'
    maxwordvowels[0] = '\0';             //по нулевому индексу в массиве слова с максимальным количеством гласных записываем нуль-символ
                                        //на случай, если не будет ни одного слова с гласными (а, е, и)

    for (int i = 0; i < strlen(lenght); i++)          //проверяем строку посимвольно
    {                   //strlen возвращает количество символов в строке, не считая нуль-символ
        if (lenght[i] == ' ' || lenght[i] == '\n')      //если символ равен пробелу или концу строки
        {
            if (vowels > maxvowels)                 //проверяем количество гласных в текущем слове
            {                                       //если больше, чем в последнем максимальном
                for (int j = 0; j < letters; j++)   //то заносим текущее слово в массив слова с максимальным количеством гласных
                {
                    maxwordvowels[j] = lenght[i - letters + j];    //рассчитывая с какого индекса текущей строки считываем наше слово
                }
                maxwordvowels[letters] = '\0';       //последним символом слова с максимальным количеством гласных вставляем нуль-символ
                maxvowels = vowels;                
            }
            letters = 0;                            //обнуляем счетчик букв в слове
            vowels = 0;                             //обнуляем счетчик гласных букв в слове
        }
        else                                        //если символ не равен пробелу или концу строки
        {
            letters++;                              //засчитываем его как букву слова, увеличиваем счетчик
            if (lenght[i] == 'а' || lenght[i] == 'е' || lenght[i] == 'и')//сравниваем его с гласными (а, е, и)
            {
                vowels++;                           //если это наша гласная, увеличиваем счетчик гласных букв в слове
            }
        }
    }              
    cout << "Слово с максимальным количеством гласных а, е, и, о: " << maxwordvowels; //выводим само слово
    return 0;
}
